<%= error_messages_for 'user_role' %>

<!--[form:user_role]-->
<p>
<%= check_box 'user_role', 'edit_project' %>
<label for="user_role_edit_project">Edit project</label>
</p>

<p>
<%= check_box 'user_role', 'create_bulletin' %>
<label for="user_role_create_bulletin">Create bulletin</label>
</p>

<p>
<%= check_box 'user_role', 'send_bulletin' %>
<label for="user_role_send_bulletin">Send bulletin</label>
</p>

<p>
<%= check_box 'user_role', 'edit_bulletin' %>
<label for="user_role_edit_bulletin">Edit bulletin</label>
</p>

<p>
<%= check_box 'user_role', 'edit_recipients' %>
<label for="user_role_edit_recipients">Edit recipients</label>
</p>

<p>
<%= check_box 'user_role', 'edit_section' %>
<label for="user_role_edit_section">Edit section</label>
</p>

<p>
<%= check_box 'user_role', 'edit_entry' %>
<label for="user_role_edit_entry">Edit entry</label>
</p>

<p>
<%= check_box 'user_role', 'edit_templates' %>
<label for="user_role_edit_templates">Edit templates</label>
</p>

<p>
<%= check_box 'user_role', 'edit_pages' %>
<label for="user_role_edit_pages">Edit pages</label>
</p>

<p>
<%= check_box 'user_role', 'edit_files' %>
<label for="user_role_edit_files">Edit Files</label>
</p>

<!--[eoform:user_role]-->

