<h1>Listing Template Layouts</h1>

<h2>Template: <%= link_to @templet.name, :controller => 'templets', :action => 'index' %></h2>

<table>
  <tr>
    <th>Name</th>
    <th>Updated On</th>
  </tr>
  
<% for templet_layout in @templet_layouts %>
  <tr>
    <td ><%=h templet_layout.name %></td>
   	<td ><%=h templet_layout.updated_on %></td>
    <td ><%= link_to image_tag("edit.png", :title=>"edit"), :action => 'edit', :id => templet_layout %></td>
    <td ><%= link_to image_tag("destroy.png", :title=>"destroy"), (@project ? admin_project_templet_layout_url(@project, @templet, templet_layout) : admin_templet_layout_url(@templet, templet_layout)), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @templet_layouts %>

<br />

<%= link_to image_tag("add.png")+' New layout', :action => 'new' %>
| <%= link_to 'Templates', :controller => 'templets', :action => 'index' %>
