<h1><%= _('Editing recipient') %></h1>

<% form_for :recipient, :url => admin_project_subscription_url(@project, @recipient), :html => {:method => :put} do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Save') %>
<% end %>

<%= link_to image_tag('Show.png')+' '+_('Show'), admin_project_subscription_url(@project,@subscription) %> |
<%= link_to image_tag('back.gif')+' '+_('Recipients'), admin_project_subscriptions_url(@project) %>
