<% for column in ProjectGroup.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @project_group.send(column.name) %>
</p>
<% end %>

<h2>Projects in this Group</h2>

<ul>
  <% @project_group.projects.each do | project | %>
    <li>
      <%= link_to project.name, admin_project_url(project) %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to 'Edit', edit_admin_project_group_url(@project_group) %> |
<%= link_to 'Project Groups', admin_project_groups_url %>
 | <%= link_to 'Projects', admin_projects_url %>
